<button class="btn btn-sm btn-dark bi bi-x-lg mb-3 wh-35-px align-self-end" (click)="close()"></button>
<ngx-file-drop dropZoneClassName="ngx-file-drop" contentClassName="ngx-file-content" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        @if(file) {
            <div class="text-white-50 d-flex flex-column mb-3 align-items-center">
                <span class="lh-1">Name: {{file.name}}</span>
                <span class="lh-1">Size: {{file.size | filesize}}</span>
                <span class="lh-1">Type: {{file.type}}</span>
            </div>
        }
        <p class="mb-1">Drop your file here or</p>
        <button class="btn btn-sm btn-outline-secondary bi bi-upload" (click)="openFileSelector()">
            Browse Files
        </button>
    </ng-template>
</ngx-file-drop>
<button [disabled]="!file" class="btn btn-md btn-secondary bi bi-check w-100-px align-self-end mt-3" (click)="save()">
    Save
</button>
