<header class="py-3 mb-3 shadow">
    <div class="container-fluid text-end">
        <div class="dropdown d-inline-block">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://gravatar.com/avatar/18035382116ce9695675f58b4aeba8c5?s=400&d=mp&r=x" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><button class="dropdown-item" (click)="singout()">Sign out</button></li>
          </ul>
      </div>
    </div>
  </header>