<main class="d-flex justify-content-center align-items-center h-100">
    <div class="container-sm d-flex justify-content-center">
        <form class="w-400-px text-white" [formGroup]="form" (ngSubmit)="login()">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username"
                [ngClass]="{'is-invalid': username?.invalid && (username?.touched  || username?.dirty || submitted)}">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': password?.invalid && (password?.touched || password?.dirty || submitted)}">
                <label for="password">Password</label>
            </div>
            <button class="btn btn-secondary w-100 py-2" type="submit">Sing in</button>
        </form>
    </div>
</main>